.languages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
   
  
}

@media(max-width:428px)
{
  .languages-grid{
    display: flex;
    flex-direction: column;
  }

 
  
}
