.item-card__image {
  width: 90px;
}

.item-card {
  background-color: #aca4cf;
  padding: 30px 20px;
  border-radius: 25px;
}

.item-card__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:425px)
{
  .item-card{
    margin-left: -2rem;
    font-size: 15px;
    padding:3rem;
    width:20rem;
  }
  .item-card__image{
    width:5rem;
  }
}

@media (max-width:768px)
{ .item-card{
    
    font-size: 15px;
    padding:2rem;
    width:20rem;
  }
  .item-card__image{
    width:5rem;
  }

}

@media(max-width:378px)
{
  .item-card{
    font-size: 12px;
    width: 15rem;
    margin-left: 1rem;
  }
}